/* ================================ Base ================================ */

body {
  background-color: $color-background;
  font-family: Mulish, sans-serif;
}

p {
  @include text-style-paragraph;
}

a {
  @include text-style-paragraph;
  color: $color-black-1;
  transition-duration: 0.3s;

  &:hover {
    color: $color-blue;
  }

  &:active {
    color: $color-blue-lght;
  }
}

svg {
  path {
    transition-duration: 0.3s;
  }
}

li {
  display: inline;
}

h1 {
  @include text-style-heading-1;
}

h2 {
  @include text-style-heading-2;
}

h3 {
  @include text-style-heading-3;
}

h4 {
  @include text-style-heading-4;
}

h5 {
  @include text-style-heading-5;
}

h6 {
  @include text-style-heading-6;
}

button {
  @include text-style-button;
}

.b-iconButton {
  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    svg {
      path {
        fill: $color-blue;
      }
    }
  }

  &:active {
    svg {
      path {
        fill: $color-blue-lght;
      }
    }
  }

  &.--white {
    svg {
      path {
        fill: $color-white;
      }
    }
  }
}

.b-button {

  color: $color-white;
  @include text-style-button;
  padding: 9px 0;
  background-color: $color-blue;
  border-radius: 12px;
  transition-duration: 0.3s;
  border: 1px solid transparent;

  &:hover {

    color: $color-blue;

    background-color: $color-white;
    border: 1px solid $color-blue;
  }

  &:active {

    color: $color-white;
    background-color: $color-blue-lght;
    border: 1px solid $color-blue-lght;
  }

  &.--black {

    color: $color-white;
    background-color: $color-black-1;

    &:hover {

      color: $color-black-1;
      background-color: $color-white;
      border: 1px solid $color-black-1;
    }

    &:active {

      color: $color-white;
      background-color: $color-gray;
      border: 1px solid $color-gray;
    }
  }

  &.--white {

    color: $color-black-2;
    background-color: $color-white;
    border: 1px solid $color-blue;

    &:hover {

      color: $color-white;
      background-color: $color-blue;
      border: 1px solid $color-white;

    }

    &:active {

      color: $color-white;
      background-color: $color-blue-lght;
      border: 1px solid $color-blue-lght;
    }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

$togglewidth: 360px;

.b-toggle {
  position: relative;
  display: inline-block;
  width: $togglewidth;
  height: 61px;
  font-size: 18px;

  &__input {
    width: 0;
    height: 0;
    opacity: 0;
  }

  &__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s;
  }

  &__slider::before {
    position: absolute;
    display: flex;
    content: "";
    width: 50%;
    height: 100%;
    background-color: $color-blue;
    transition: 0.4s;
  }

  &__input:checked + &__slider {
    display: flex;
    align-items: center;
    // background-color: $color-gray;
    background-color: transparent;

    .b-toggle__container-x2 {
      color: $color-white;
    }

    .b-toggle__container-x1 {
      color: $color-black-2;
    }
  }

  &__input:checked + &__slider::before {
    transform: translateX($togglewidth/2);
  }
  .--round {
    border-radius: 12px;
    border: 1px solid $color-blue;

    &::before {
      border-radius: 12px;
    }
  }

  &__container {
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    color: $color-black-2;

    &-x1 {
      color: $color-white;
      transition-duration: 0.3s;
    }

    &-x2 {
      transition-duration: 0.3s;
    }
  }
}

.b-toTop {
  background-color: $color-black-1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 100%;
  transition-duration: 0.3s;
  position: fixed;
  top: 55%;
  right: 20px;
  height: 0;
  width: 0;
  opacity: 0;
  transition: opacity 0.3s;

  &.--active {
    opacity: 1;
    height: 40px;
    width: 40px;
  }

  &:hover {
    background-color: transparent;
    border: 1px solid $color-black-1;

    svg {
      path {
        fill: $color-black-1;
      }
    }
  }

  svg {
    transform: rotate(180deg);

    path {
      fill: $color-white;
    }
  }
}
