/* ================================ Media ================================ */
@media (max-width: 1280px) {

  .header {

    &__logo {
      margin-right: 16px;
    }
  }

  .c-invite {

    div {

      p {
        width: auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  
  .header {

    &__logo {

      svg {
        width: 32px;
        height: 32px;
      }
    }

    &__content {
      display: none;
    }

    &__burger {
      display: block;
    }

    &.--active {

      .header__burger {
        display: none;
      }

      .header__close {
        display: block;
      }

      .header__content {
        position: absolute;
        display: flex;
        width: 90%;
        height: 35px;
        background-color: $color-white;
      }
    }
  }

  .m-baner {
    margin: 52px 0 106px;

    div {
      width: 344px;
      height: auto;
    }

    &__info {
      padding: 23px 20px 24px;
    }
  }

  .home-page {

    h2 {
      margin-bottom: 32px;
    }

    &__faqs {
      margin-bottom: 100px;

      .b-button {
        margin-top: 32px;
      }
    }
  }

  .c-faqs {

    div {
      align-items: flex-start;
    }
  }

  .c-invite {
    padding: 32px;

    h3 {
      margin-bottom: 16px;
    }

    &__link {
      padding: 20px 24px;
    }
  }

  .c-choose {

    .info {
      padding: 49px 28px 48px 32px;
    }

    p {
      display: none;
    }
  }

  .c-step {
    padding: 20px;

    h4 {
      margin-top: -65px;
      margin-bottom: 39px;
    }

    &__img {

      img {
        width: 88px;
        height: 88px;
      }
    }
  }

  .m-about {

    div {
      height: 412px;
    }

    &__info {
      padding: 20px;

      svg {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 16px;
      }
    }
  }

  .platform-page{

    .c-card{
      height: 412px;
      padding: 37px 16px;
    }
  }

  .footer {

    &__logo {
      margin-right: 50px;

      svg {
        width: 44px;
        height: 44px;
      }
    }

    &__text {
      margin-top: 12px;
    }

    &__wrapper {
      padding-bottom: 40px;
      border-bottom: 1px solid $color-gray-lght;
    }
  }
}

@media (max-width: 850px) {

  .header {

    &.--active {

      .header__content {
        position: absolute;
        top: 40px;
        left: 0;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: 100%;
        height: auto;
        padding: 12px;
        overflow: scroll;

        nav {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          margin-bottom: 20px;

          .header__sub,
          li {
            margin-right: 0;
            margin-bottom: 20px;
            @include text-style-paragraph-blog-r;
          }

          .toggle__popup {
            position: relative;
            top: 0;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            max-width: 100%;
            padding: 0;
            background-color: transparent;
            border-radius: 0px;
            box-shadow: 0px 0px 0px;

            a {
              margin-right: 10px;
            }
          }
        }

        div {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;

          .socials {
            margin-bottom: 20px;
            margin-left: 0;
          }

          .b-button {
            margin-left: 0;
          }

          .toggle__popup {
            position: relative;
            top: 0;
            flex-direction: row;
            align-items: flex-start;
            max-width: 100%;
            margin-bottom: 20px;
            padding: 0;
            background-color: transparent;
            border-radius: 0px;
            box-shadow: 0px 0px 0px;

            a {
              margin-right: 10px;
              margin-bottom: 0;

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }

  .m-baner {
    flex-direction: column-reverse;
    margin: 48px 0 100px;

    div {
      width: 100%;
      height: auto;
    }

    &__img {
      display: flex;
      justify-content: center;
      margin-bottom: 16px;
      margin-left: 0;

      img {
        width: 327px;
        height: 278px;
      }
    }

    .b-button {
      width: 100%;
    }
  }

  .m-steps {
    flex-direction: column;

    .c-step {
      margin-right: 0;
      margin-bottom: 16px;
    }
  }

  .c-invite {
    flex-direction: column;
    padding: 32px 20px;

    &__link {
      margin-top: 32px;
      margin-left: 0;
      padding: 28px 33px;
    }
  }

  .m-about {
    flex-direction: column-reverse;
    margin-bottom: 100px;

    &__img {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;
      margin-bottom: 16px;
      margin-left: 0;

      img {
        width: 327px;
        height: 278px;
        border-radius: 24px;
      }
    }
  }

  .platform-page__cards{
    flex-direction: column;
    margin-top: 28px;
    margin-bottom: 16px;

    .c-card{
      height: 333px;
      margin-right: 0 !important;
      margin-bottom: 16px;

      &:last-child{
        margin-bottom: 0;
      }

      ul{
        margin-bottom: 48px;
      }

      .sign{
        margin-bottom: 12px;
      }

      .b-button{
        padding: 14px 0;
        font-size: 16px;
      }
    }  
  }

  .platform-page{
    // height: auto;
  }

  .footer {

    &__contant {

      &-wrapper {
        width: 100%;
      }
    }
  }
}

@media (max-width: 570px) {

  .header {

    &__logo {

      p {
        display: none;
      }
    }
  }

  .c-choose {
    flex-direction: column-reverse;

    img {
      width: 180%;
    }

    .info {
      padding: 32px 20px;

      h2 {
        margin-bottom: 16px;
        text-align: start;
      }

      p {
        display: block;
        margin-bottom: 32px;
      }

      .b-button {
        width: 100%;
      }
    }
  }

  .c-faqs {

    h6 {
      margin-right: 21px;
      font-size: 17px;
    }

    p {
      font-size: 17px;
    }
  }

  .home-page {

    &__faqs {

      .b-button {
        margin-top: 28px;
      }
    }
  }

  .platform-page{

    .b-toggle{
      width: 100%;
    }
  }

  .footer {

    .toggle__popup {
      top: 440px;
      right: 0;
      flex-direction: row;

      a {
        margin-right: 10px;
        margin-bottom: 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__info {
      flex-direction: row;
      justify-content: space-between;
      margin-top: 40px;

      .socials {
        margin-bottom: 0;
      }

      &.--active {

        .toggle__popup {
          top: 440px;
        }
      }
    }

    &__content {
      flex-direction: column;

      &-wrapper {
        width: 100%;
      }
    }

    &__text {
      width: auto;
    }

    &__logo {
      margin-right: 0;
    }

    &__col {
      margin-bottom: 40px;
    }

    &__wrapper {
      flex-direction: column;
    }

    &__row {
      flex-direction: column;
      align-items: center;
      margin-top: 16px;

      p {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  h1 {
    @include text-style-m-heading-1;
  }

  h2 {
    @include text-style-m-heading-2;
  }

  h3 {
    @include text-style-m-heading-3;
  }

  h4 {
    @include text-style-m-heading-4;
  }

  h5 {
    @include text-style-m-heading-5;
  }
}
