mixin b-iconButton(className)
  a(href='#' class=className).b-iconButton
    block

mixin b-button(className)
  button.b-button(class=className)
    block

mixin b-toggle
  label.b-toggle
    input.b-toggle__input(type="checkbox")
    span.b-toggle__slider.--round
      span.b-toggle__container
        span.b-toggle__container-x1 6 months 
        span.b-toggle__container-x2 12 months 