mixin c-choose
  template.c-choose-temp
    .c-choose
      .info
        h2.name
        p.description
        +b-button Learn more
      img(src='', alt="", srcset="").img
  
mixin c-step(title, text, src)
  .c-step 
    span.c-step__img
      img(src=src, alt="")
    div
      h4=title
      p=text

mixin c-invite
  .c-invite
    div
      h3 Invite friends
      p Starting today up to 50% for NETFLIX, YOUTUBE, SPOTIFY subscriptions with a secure payment from PAYPAL
    .c-invite__link Click on the link <br>
      a(href='#') Discounts On Services
        include ../../assets/images/file-copy-line.svg

mixin c-faqs 
  template.c-faqs-temp 
    .c-faqs
      div
        h6.question 
        span
          include ../../assets/images/arrow-downsvg.svg
      p.answer

mixin c-card 
  template.c-card-temp 
    .c-card 
      h2.name Basic
      ul.items
        li Ad-free music listening
        li Play anywhere - even offline
        li On-demand playback
      p.sign 
        span.sign-item $
        span.price 45
        span.newprice 100
      +b-button Get started
        
