.home-page{

  h2{
    margin-bottom: 37px;
    text-align: center;
  }

  .c-choose{
    margin-bottom: 16px;
  }

  &__choses{
    margin-bottom: 128px;
  }

  &__steps{
    margin-bottom: 120px;
  }
}