include layouts/_base
include layouts/_combinations
include layouts/_modules

+m-head('Home page')

+header
.home-page.container
  +m-baner 

  .home-page__choses
    h2 Choose a subscription
    +c-choose

  .home-page__steps#howworks
    h2 How it works?
    +m-steps
    +c-invite

  .home-page__about#about
    h2 About us
    +m-about
  .home-page__faq#support
    +m-faqs
  +b-toTop
+m-popup-copy
+layout
+footer
