include layouts/_base
include layouts/_combinations
include layouts/_modules

+m-head('index')
.index-page
  .index-page__wrapper
    a(href="pages/home.html") home
    a(href="pages/platform.html") platform
